canvas {
	display: block;
	left: 2em;
	top: 2em;
	border: 2px solid #000000;
	margin-left: 3px;
	margin-top: 14px;
}

th {
	width: 80px;
	margin: 0;
	padding: 0;
	text-align: left;
}

table {
	border-collapse: collapse;
	width: max-content;
	height: max-content;
	margin: 0;
	padding: 0;
	margin-top: 8px;
}

tr {
	margin: 0;
	padding: 0;
}

.side {
	height: 32px;
}
.side th {
	width: 25px;
}

#canvas-container {
	display: flex;
	overflow-x: auto;
}

#bottom-left {
	float: left;
	font-weight: bold;
}

#bottom-right {
	float: right;
	font-weight: bold;
}

#sets {
	display: flex;
	margin-top: 0;
}

#paramBlock {
	display: none;
}

#RedText {
	color: #f00;
}

#GreenText {
	color: #0f0;
}

#BlueText {
	color: #8080ff
}

#container {
	width:fit-content
}

#division-check {
    display: none;
}

#operation {
	margin: 5px;
}

h1 {
	margin-bottom: 0;
}

h3, h4 {
	margin-block-start: 0;
    margin-block-end: 0;
}

.fuzzyset {
	margin: 10px
}

.fuzzyset td{
	margin-bottom: 40px;
}